@page
@model OnBoard.WebApp.Pages.Info.IndexModel
@{
    <h2>Documents</h2>
    <hr />
    <div>
        <table class="table">
            <thead>
                <tr class="row">
                    <th class="col-md-4">Document Title & Link</th>
                    <th class="col-md-2">Document Type</th>
                    <th class="col-md-2">Organization(s)</th>
                </tr>
            </thead>
            <tbody>

            @{
                foreach(var doc in Model.Documents)
                {
                    <tr class="row">
                        <td class="col-md-4"><a target="_blank" href="@doc.DocumentURL">@doc.DocumentTitle</a></td>
                        <td class="col-md-2">@doc.DocumentType.DocumentTypeName</td>
                        <td class="col-md-2">@Model._documentService.GetDocumentOrganizations(doc.DocumentID)</td>
                    </tr>
                }
            }

            </tbody>
        </table>
    </div>
}
